<nav class="navbar bg-body-tertiary">
    <form class="container-fluid justify-content-start">
        {% if 'user_id' in session %}
        <a class="btn btn-outline-primary me-2" href="{{ url_for('profile') }}">Profile</a>
        <a class="btn btn-outline-primary me-2" href="{{ url_for('index') }}">Quiz Master</a>
        {% else %}
        <a class="btn btn-outline-success me-2" href="{{ url_for('register') }}">Register</a>
        <a class="btn btn-outline-secondary me-2" href="{{ url_for('login') }}">Login</a>
        <a class="btn btn-outline-primary me-2" href="{{ url_for('index') }}">Quiz Master</a>
        {% endif %}    
    </form>
</nav>